---
const Steps = [
  {
    icon: "https://de23256m8hy18.cloudfront.net/new-homepage/howToUseSection1.webp",
    title: "Make sure the face is clean",
    points: [
      "If sand, dirt, or other debris is on the face, wipe it off",
      "If the nose is wet, blow it dry",
      "If the nose is covered in fur, brush it out",
    ],
    Img: "https://de23256m8hy18.cloudfront.net/homepage/how-to-scan/ko/%E1%84%80%E1%85%A1%E1%86%BC%E1%84%8B%E1%85%A1%E1%84%8C%E1%85%B5_%E1%84%8B%E1%85%A5%E1%86%AF%E1%84%80%E1%85%AE%E1%86%AF%E1%84%8B%E1%85%B3%E1%86%AF%20%E1%84%81%E1%85%A2%E1%84%81%E1%85%B3%E1%86%BA%E1%84%92%E1%85%A1%E1%84%80%E1%85%A6%20%E1%84%92%E1%85%A2%E1%84%8C%E1%85%AE%E1%84%89%E1%85%A6%E1%84%8B%E1%85%AD.mp4",
  },
  {
    icon: "https://de23256m8hy18.cloudfront.net/new-homepage/howToUseSection2.webp",
    title: "Scan front of your dog’s face",
    points: [
      "Make sure the dog’s face is facing the camera to capture the nose print from the front",
    ],
    Img: "https://de23256m8hy18.cloudfront.net/homepage/how-to-scan/ko/%E1%84%80%E1%85%A1%E1%86%BC%E1%84%8B%E1%85%A1%E1%84%8C%E1%85%B5_%E1%84%80%E1%85%A1%E1%86%BC%E1%84%8B%E1%85%A1%E1%84%8C%E1%85%B5%E1%84%8B%E1%85%B4_%E1%84%8B%E1%85%A5%E1%86%AF%E1%84%80%E1%85%AE%E1%86%AF_%E1%84%8C%E1%85%A5%E1%86%BC%E1%84%86%E1%85%A7%E1%86%AB%E1%84%8B%E1%85%B3%E1%86%AF_%E1%84%8D%E1%85%B5%E1%86%A8%E1%84%8B%E1%85%A5%E1%84%8C%E1%85%AE%E1%84%89%E1%85%A6%E1%84%8B%E1%85%AD.mp4",
  },
  {
    icon: "https://de23256m8hy18.cloudfront.net/new-homepage/howToUseSection3.webp",
    title: "Make sure to scan in a bright light.",
    points: [
      "A daytime outdoor setting or a room with plenty of light is preferred",
      "Avoid direct sunlight or strong lighting such as pin lights",
    ],
    Img: "https://de23256m8hy18.cloudfront.net/homepage/how-to-scan/ko/%E1%84%80%E1%85%A1%E1%86%BC%E1%84%8B%E1%85%A1%E1%84%8C%E1%85%B5_%E1%84%87%E1%85%A1%E1%86%B0%E1%84%8B%E1%85%B3%E1%86%AB%20%E1%84%92%E1%85%AA%E1%86%AB%E1%84%80%E1%85%A7%E1%86%BC%E1%84%8B%E1%85%A6%E1%84%89%E1%85%A5%20%E1%84%8E%E1%85%AA%E1%86%AF%E1%84%8B%E1%85%A7%E1%86%BC%E1%84%92%E1%85%A2%E1%84%8C%E1%85%AE%E1%84%89%E1%85%A6%E1%84%8B%E1%85%AD.mp4",
  },
  {
    icon: "https://de23256m8hy18.cloudfront.net/new-homepage/howToUseSection4.webp",
    title: "Slowly move back and forth at a set distance.",
    points: [
      "Keep the distance between the dog’s nose and the phone between 10-20cm (4-8 inches), moving slowly back and forth",
    ],
    Img: "https://de23256m8hy18.cloudfront.net/homepage/how-to-scan/ko/%E1%84%80%E1%85%A1%E1%86%BC%E1%84%8B%E1%85%A1%E1%84%8C%E1%85%B5_10_20cm_%E1%84%80%E1%85%A5%E1%84%85%E1%85%B5%E1%84%8B%E1%85%A6%E1%84%89%E1%85%A5_%E1%84%8B%E1%85%A1%E1%87%81%E1%84%83%E1%85%B1%E1%84%85%E1%85%A9_%E1%84%8E%E1%85%A5%E1%86%AB%E1%84%8E%E1%85%A5%E1%86%AB%E1%84%92%E1%85%B5_%E1%84%8B%E1%85%AE%E1%86%B7%E1%84%8C%E1%85%B5%E1%86%A8%E1%84%8B%E1%85%A7%E1%84%8C%E1%85%AE%E1%84%89%E1%85%A6%E1%84%8B%E1%85%AD.mp4",
  },
  {
    icon: "https://de23256m8hy18.cloudfront.net/new-homepage/howToUseSection5.webp",
    title: "Tilt your phone as your dog’s face moves.",
    points: [
      "Orient your phone vertically if your dog is sitting upright, and horizontally if they’re lying down",
    ],
    Img: "https://de23256m8hy18.cloudfront.net/homepage/how-to-scan/ko/%E1%84%80%E1%85%A1%E1%86%BC%E1%84%8B%E1%85%A1%E1%84%8C%E1%85%B5_%E1%84%8B%E1%85%A5%E1%86%AF%E1%84%80%E1%85%AE%E1%86%AF%E1%84%80%E1%85%AA_%E1%84%92%E1%85%B2%E1%84%83%E1%85%A2%E1%84%91%E1%85%A9%E1%86%AB%E1%84%8B%E1%85%B3%E1%86%AF_%E1%84%80%E1%85%A1%E1%87%80%E1%84%8B%E1%85%B3%E1%86%AB_%E1%84%87%E1%85%A1%E1%86%BC%E1%84%92%E1%85%A3%E1%86%BC%E1%84%8B%E1%85%B3%E1%84%85%E1%85%A9_%E1%84%8B%E1%85%B2%E1%84%8C%E1%85%B5%E1%84%92%E1%85%A2%E1%84%8C%E1%85%AE%E1%84%89%E1%85%A6%E1%84%8B%E1%85%AD.mp4",
  },
  {
    icon: "https://de23256m8hy18.cloudfront.net/new-homepage/howToUseSection6.webp",
    title: "Selfie-mode scans are now available!",
    points: [
      "Steadily scan your dog with selfie mode while holding them in your arms or sitting alongside them",
    ],
    Img: "https://de23256m8hy18.cloudfront.net/homepage/how-to-scan/ko/%E1%84%80%E1%85%A1%E1%86%BC%E1%84%8B%E1%85%A1%E1%84%8C%E1%85%B5_%E1%84%89%E1%85%A6%E1%86%AF%E1%84%91%E1%85%B5%E1%84%86%E1%85%A9%E1%84%83%E1%85%B3%E1%84%85%E1%85%A9_%E1%84%8D%E1%85%B5%E1%86%A8%E1%84%8B%E1%85%A5%E1%84%87%E1%85%A9%E1%84%89%E1%85%A6%E1%84%8B%E1%85%AD.mp4",
  },
  {
    icon: "https://de23256m8hy18.cloudfront.net/new-homepage/howToUseSection7.webp",
    title: "Press and hold the sound button while scanning.",
    points: [
      "Dog’s favorite sounds help scan the nose by drawing attention towards the camera",
    ],
    Img: "https://de23256m8hy18.cloudfront.net/homepage/how-to-scan/ko/%E1%84%80%E1%85%A1%E1%86%BC%E1%84%8B%E1%85%A1%E1%84%8C%E1%85%B5_%E1%84%8E%E1%85%AA%E1%86%AF%E1%84%8B%E1%85%A7%E1%86%BC_%E1%84%83%E1%85%A1%E1%86%AB%E1%84%80%E1%85%A8%E1%84%8B%E1%85%A6%E1%84%89%E1%85%A5_%E1%84%89%E1%85%A1%E1%84%8B%E1%85%AE%E1%86%AB%E1%84%83%E1%85%B3_%E1%84%87%E1%85%A5%E1%84%90%E1%85%B3%E1%86%AB%E1%84%8B%E1%85%B3%E1%86%AF_%E1%84%82%E1%85%AE%E1%86%AF%E1%84%85%E1%85%A5%E1%84%87%E1%85%A9%E1%84%89%E1%85%A6%E1%84%8B%E1%85%AD.mp4",
  },
  {
    icon: "https://de23256m8hy18.cloudfront.net/new-homepage/howToUseSection8.webp",
    title: "Try scanning while the dog's asleep.",
    points: [
      "If your dog’s nose is facing front in bright surroundings, you can easily take a nose print while asleep",
    ],
    Img: "https://de23256m8hy18.cloudfront.net/homepage/how-to-scan/ko/%E1%84%80%E1%85%A1%E1%86%BC%E1%84%8B%E1%85%A1%E1%84%8C%E1%85%B5_%E1%84%8C%E1%85%A1%E1%84%80%E1%85%A9_%E1%84%8B%E1%85%B5%E1%86%BB%E1%84%8B%E1%85%B3%E1%86%AF_%E1%84%84%E1%85%A2_%E1%84%8D%E1%85%B5%E1%86%A8%E1%84%8B%E1%85%A5%E1%84%87%E1%85%A9%E1%84%89%E1%85%A6%E1%84%8B%E1%85%AD.mp4",
  },
];
---

<section
  class="mx-auto px-6 flex flex-col items-center justify-center mb-16 mt-28"
>
  <div class="flex flex-col gap-10 max-w-[1200px]">
    {
      Steps.map((step) => (
        <div class="flex flex-col md:flex-row gap-6">
          <div class="md:w-2/3 ">
            <img src={step.icon} alt="Icon" class="rounded-lg h-12" />
            <h3 class="text-4xl font-semibold mt-4 text-texto leading-12 max-w-xs">
              {step.title}
            </h3>
            <ul class="list-disc pl-5 mt-4 text-neutral-500">
              {step.points.map((point) => (
                <li class="leading-8">{point}</li>
              ))}
            </ul>
          </div>
          <div class="md:w-2/3">
            <video
              preload="metadata"
              autoplay
              loop
              class="rounded-lg w-full"
              src={step.Img}
            />
          </div>
        </div>
      ))
    }
  </div>
</section>
