<section>
  <div
    class="bg-gray-300 h-[500px] md:h-screen flex flex-col items-center justify-end bg-[url('https://placehold.co/3840x1440')] bg-cover bg-center bg-no-repeat lg:bg-fixed"
  >
    <div
      class="md:gap-8 gap-2 flex flex-col text-white items-center md:pb-16 pb-10 md:text-6xl text-4xl"
    >
      <h1 class="font-bold">About Petnow app</h1>
      <svg
        class-Name="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="50"
        height="50"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-Linecap="round"
          stroke-Linejoin="round"
          stroke-Width="2"
          d="m19 9-7 7-7-7"></path>
      </svg>
    </div>
  </div>
</section>
