<section
  class="lg:container mx-auto px-6 lg:px-24 flex flex-col items-center justify-center mb-16"
>
  <div
    class="flex flex-col justify-center items-center gap-4 mt-20 text-center"
  >
    <div class="text-texto">
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl mb-8">
        Highly utilized Biometric ID services
      </h1>
      <div class="font-normal md:text-lg lg:text-2xl">
        <p>Whenever you need to verify your pet's identity,</p>
        <p>you can use petnow's biometric identification service</p>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-4 mt-8">
      <div class="relative">
        <figure class="">
          <img
            class="w-full h-full object-cover rounded-2xl"
            src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutAppSection10.webp"
            alt=""
          />
        </figure>
        <div
          class="absolute bottom-1/12 w-full flex flex-col items-center justify-center text-[#585E67] font-bold text-xs md:text-lg lg:text-2xl"
        >
          <p>Reassured insurance purchase with initial cost support</p>
        </div>
      </div>
      <div class="relative">
        <figure class="">
          <img
            class="w-full h-full object-cover rounded-2xl"
            src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutAppSection11.webp"
            alt=""
          />
        </figure>
        <div
          class="absolute bottom-1/12 w-full flex flex-col items-center justify-center text-[#585E67] font-bold text-xs md:text-lg lg:text-2xl"
        >
          <p>Register your pets</p>
          <p>before they get lost</p>
        </div>
      </div>
      <div class="relative">
        <figure class="">
          <img
            class="w-full h-full object-cover rounded-2xl"
            src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutAppSection12.webp"
            alt=""
          />
        </figure>
        <div
          class="absolute bottom-1/12 w-full flex flex-col items-center justify-center text-[#585E67] font-bold text-xs md:text-lg lg:text-2xl"
        >
          <p>Help reunion of</p>
          <p>lost pets near you</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col justify-center items-center gap-4 mt-20 text-center"
  >
    <div class="text-texto">
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl mb-8">
        Accurate and expedite petnow AI
      </h1>
      <div class="font-normal md:text-lg lg:text-2xl">
        <p>Every single proces will be done</p>
        <p>accurate and expedite with petnow AI</p>
      </div>
    </div>
    <figure class="mt-8">
      <img
        src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutAppSection6_en.webp"
        alt=""
      />
    </figure>
  </div>
</section>
