<section
  class="flex justify-center items-center bg-[url('https://de23256m8hy18.cloudfront.net/new-homepage/petnowVisionSection_mobile.webp')] lg:bg-[url('https://de23256m8hy18.cloudfront.net/new-homepage/petnowVisionSection.webp')] bg-cover bg-center bg-no-repeat h-[300px] lg:h-[350px]"
>
  <div class="flex flex-col justify-center items-center gap-4 text-white">
    <h1 class="text-2xl md:text-3xl lg:text-5xl font-bold mb-4">
      Vision of petnow
    </h1>
    <p class="text-sm md:text-xl lg:text-2xl font-semibold">
      Petnow aims at a world without lost or abandoned pets
    </p>
    <p class="text-sm md:text-xl lg:text-2xl font-semibold">
      through easy and simple biometric registration
    </p>
  </div>
</section>
