---

---

<section
  class="container mx-auto px-24 flex flex-col items-center justify-center pb-16"
>
  <div class="flex flex-col gap-4 mt-24 lg:mt-40 text-center max-w-6xl mb-16">
    <h1 class="font-bold lg:text-5xl text-neutral-800">
      How does pet biometric scan work?
    </h1>
    <div class="font-normal lg:text-2xl text-neutral-800">
      <p class="">
        Just like human fingerprints, pets have thier unique biometric
        information
      </p>
      <p>Simply point the Petnow AI camera at your pet's face!</p>
      <p>Petnow will automatically scan and register your pet</p>
    </div>
  </div>
  <div class="flex flex-col gap-7">
    <div class="md:flex gap-7 max-h-[600px]">
      <div class="md:max-w-3/5 relative">
        <figure>
          <img
            class=""
            src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutBiometricSection1.webp"
            alt="FingerPrint"
            style="width:100%;"
          />
        </figure>
        <div
          class="absolute max-w-xs top-1/12 left-1/12 text-neutral-800 lg:text-3xl font-semibold"
        >
          <p class="mr-1">As humans have fingerprints,</p>
          <p>every dog has its own</p>
          <p class="text-blue-400">unique nose print</p>
        </div>
      </div>
      <div class="md:max-w-2/5">
        <figure>
          <img
            class=""
            src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutBiometricSection2.webp"
            alt="NosePrint"
            style="width:100%;"
          />
        </figure>
      </div>
    </div>
    <div class="rounded-2xl overflow-hidden">
      <figure class="">
        <img
          class="max-h-[600px]"
          src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutBiometricSection3.webp"
          alt="Scan Yout Pet"
          style="width:100%; object-fit:cover;"
        />
      </figure>
    </div>
  </div>
</section>
