---

---

<section
  class="lg:container mx-auto px-6 lg:px-24 flex flex-col items-center justify-center pb-16"
>
  <div class="flex flex-col gap-4 mt-24 lg:mt-40 text-center max-w-6xl mb-16">
    <h1 class="font-bold text-3xl lg:text-5xl text-texto">
      How does pet biometric scan work?
    </h1>
    <div class="font-normal lg:text-2xl text-texto">
      <p class="">
        Just like human fingerprints, pets have thier unique biometric
        information
      </p>
      <p>Simply point the Petnow AI camera at your pet's face!</p>
      <p>Petnow will automatically scan and register your pet</p>
    </div>
  </div>
  <div class="flex flex-col gap-7 lg:mb-16">
    <div class="flex flex-col md:flex-row gap-7">
      <div class="md:h-[550px] overflow-hidden md:max-w-3/5 relative">
        <figure class="roudned-2xl h-full">
          <img
            class="w-full h-full object-cover rounded-2xl"
            src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutBiometricSection1.webp"
            alt="FingerPrint"
            style="width:100%;"
          />
        </figure>
        <div
          class="absolute max-w-xs top-1/12 left-1/12 text-texto text-sm md:text-lg xl:text-3xl font-semibold"
        >
          <p>As humans have fingerprints,</p>
          <p>every dog has its own</p>
          <p class="text-blue-400">unique nose print</p>
        </div>
      </div>
      <div class="md:h-[550px] overflow-hidden md:max-w-2/5">
        <figure class="roudned-2xl h-full hidden md:block">
          <img
            class="w-full h-full object-cover rounded-2xl"
            src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutBiometricSection2.webp"
            alt="NosePrint"
            style="width:100%;"
          />
        </figure>
        <figure class="md:hidden block">
          <img
            class="w-full h-full object-cover rounded-2xl"
            src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutBiometricSection2_mobile.webp"
            alt="NosePrint"
            style="width:100%;"
          />
        </figure>
      </div>
    </div>
    <div class="block md:h-[800px] overflow-hidden relative">
      <figure class="roudned-2xl h-full">
        <img
          class="w-full h-full object-cover rounded-2xl"
          src="https://de23256m8hy18.cloudfront.net/new-homepage/aboutBiometricSection3.webp"
          alt="Scan Yout Pet"
          style=""
        />
      </figure>
      <div
        class="absolute max-w-s top-1/12 right-1/12 text-texto text-sm md:text-lg xl:text-3xl font-semibold text-right"
      >
        <div class="flex">
          <p class="mr-1">Petnow's AI will</p>
          <p class="text-blue-400">automatically capture</p>
        </div>
        <p>your pet's biometric information</p>
        <p>while you scan your pet's face</p>
      </div>
    </div>
  </div>
</section>
