---

---

<section class="">
  <div
    class="bg-gray-300 h-[700px] lg:h-screen w-full flex flex-col pt-16 px-6 lg:pt-0 lg:px-0 items-start lg:justify-center bg-[url('https://de23256m8hy18.cloudfront.net/new-homepage/appDownloadSection_mobile_en.webp')] lg:bg-[url('https://de23256m8hy18.cloudfront.net/new-homepage/appDownloadSection_v2_en.webp')] bg-cover bg-center bg-no-repeat lg:bg-fixed"
  >
    <div class="lg:container flex flex-col gap-4 lg:mx-auto lg:px-24">
      <h1
        class="font-bold text-2xl lg:text-6xl text-texto max-w-xs lg:max-w-2xl leading-relaxed"
      >
        Let's build a world without lost pets!
      </h1>
      <p
        class="font-normal text-md lg:text-2xl text-texto max-w-md lg:max-w-2xl mb-10 leading-relaxed"
      >
        Get an extra layer of love & care for your forever family, brought to
        you by Petnow.
      </p>
      <div class="lg:flex gap-6 text-texto">
        <a
          class="bg-white rounded-xl py-4 border-0 shadow-xl font-medium lg:text-2xl px-8 flex items-center justify-center max-w-40 lg:max-w-56 mb-4 lg:mb-0"
          href="">App Store</a
        >
        <a
          class="bg-white rounded-xl py-4 border-0 shadow-xl font-medium lg:text-2xl px-8 flex items-center justify-center max-w-40 lg:max-w-56"
          href="">Google Play</a
        >
      </div>
    </div>
  </div>
</section>
