---

---

<section
  class="flex flex-col items-center justify-center my-16 md:my-20 lg:my-26"
>
  <div class="max-w-[1232px] w-full mx-auto px-4">
    <form action="" class="grid grid-cols-1 lg:grid-cols-2 gap-x-6 w-full">
      <div class="flex flex-col mb-4 col-span-2 lg:col-span-1">
        <div class="flex mb-2 text-sm md:text-2xl font-semibold gap-1">
          <label for="name" class="text-texto w-max">Name / Position</label>
          <p class="text-principal">*</p>
        </div>
        <input
          type="text"
          name="name"
          class="border border-gray-300 text-sm md:text-xl text-neutral-600 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-principal focus:ease-in-out focus:duration-300"
          required
        />
      </div>
      <div class="flex flex-col mb-4 col-span-2 lg:col-span-1">
        <div class="flex mb-2 text-sm md:text-2xl font-semibold gap-1">
          <label for="name" class="text-texto w-max">Company name</label>
        </div>
        <input
          type="text"
          name="company"
          class="border border-gray-300 text-sm md:text-xl text-neutral-600 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-principal focus:ease-in-out focus:duration-300"
        />
      </div>
      <div class="flex flex-col mb-4 col-span-2 lg:col-span-1">
        <label
          for="telephone"
          class="mb-2 text-sm md:text-2xl font-semibold text-texto w-max"
          >Telephone Number</label
        >
        <input
          type="tel"
          name="telephone"
          pattern="[0-9]{10}"
          class="border border-gray-300 text-sm md:text-xl text-neutral-600 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-principal focus:ease-in-out focus:duration-300"
        />
      </div>
      <div class="flex flex-col mb-4 col-span-2 lg:col-span-1">
        <div class="flex mb-2 text-sm md:text-2xl font-semibold gap-1">
          <label for="name" class="text-texto w-max">Email Address</label>
          <p class="text-principal">*</p>
        </div>
        <input
          type="email"
          name="email"
          class="border border-gray-300 text-sm md:text-xl text-neutral-600 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-principal"
          required
        />
      </div>
      <div class="flex flex-col mb-4 col-span-2">
        <div class="flex mb-2 text-sm md:text-2xl font-semibold gap-1">
          <label for="name" class="text-texto w-max">Content of Inquiry</label>
          <p class="text-principal">*</p>
        </div>
        <textarea
          name="Textarea"
          class="border border-gray-300 text-sm md:text-xl text-neutral-600 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-principal h-[174px]"
          required></textarea>
      </div>
      <button
        class="bg-principal md:text-2xl font-semibold col-span-2 text-white rounded-xl p-3 md:py-5 mt-8 transition-opacity duration-300"
        >Submit</button
      >
    </form>
  </div>
</section>
