<section class="pt-20">
  <div
    class="bg-[url('https://de23256m8hy18.cloudfront.net/new-homepage/contact.webp')] bg-cover bg-center bg-no-repeat h-[280px] w-full flex items-center justify-center"
  >
    <h1 class="font-bold text-5xl text-texto">Contact</h1>
  </div>
</section>
