---

---

<footer class="bg-[#F0F3EC]">
  <div class="max-w-[1200px] mx-auto px-6 py-16">
    <div
      class="flex items-center justify-between text-texto font-bold text-2xl md:text-4xl"
    >
      <div>
        <h1 class="max-w-xs md:max-w-xl lg:max-w-3xl text-lg md:text-2xl lg:text-4xl">Provide additional protection to the most furry family members with FurryFndr.</h1>
      </div>
      <a
        href="#"
        title="Scroll to Top"
        aria-label="Scroll to top"
        class="hover:scale-110 transition-transform"
      >
        <svg
          class="w-14
        h-14"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6v13m0-13 4 4m-4-4-4 4"></path>
        </svg>
      </a>
    </div>
    <hr class="text-neutral-400 my-10" />
    <div
      class="flex flex-col lg:flex-row lg:items-center lg:justify-between gap-y-10"
    >
      <a
        href="/"
        title="Petnow Logo"
        aria-label="Go to the home page"
        class="hover:scale-110 transition-transform"
      >
        <figure>
          <img src="/logo.png" alt="Logo" />
        </figure>
      </a>
      <div
        class="flex flex-wrap max-w-lg text-lg gap-x-18 gap-y-4 text-neutral-600 font-normal"
      >
        <a
          href="/about"
          aria-label="Learn more about us"
          class="hover:text-principal">About</a
        >
        <a
          href="/how-to-use"
          aria-label="How to use the app"
          class="hover:text-principal">How to Use</a
        >
        <!-- <a href="/petwayhome" aria-label="Learn more about the app" class="hover:text-principal">PetWayHome</a> -->
        <a href="/contact" aria-label="Contact us" class="hover:text-principal"
          >Contact</a
        >
        <a
          href="/faq"
          aria-label="Frequently Asked Questions"
          class="hover:text-principal">FAQ</a
        >
      </div>
    </div>
    <div
      class="flex flex-col gap-4 text-neutral-400 font-normal text-sm mt-24 max-w-sm"
    >
      <h1 class="text-texto font-bold">Prometheus R&D</h1>
      <p>
        Fresnos 19, Ramirez, 22115 Tijuana, B.C. contact@prometheustij.com | ⓒ
        Petnow Inc.
      </p>
      <p class="mb-2 text-neutral-500">Terms and Conditions Privacy Policy</p>
      <div class="flex items-center justify-between">
        <div class="flex gap-4">
          <a
            href="https://www.facebook.com/petnowofficial"
            title="Facebook Link"
            aria-label="Visit our Facebook page"
            target="_blank"
            rel="noopener noreferrer"
            class="rounded-full border-3 border-texto p-1 flex items-center justify-center"
          >
            <svg
              class="w-6 h-6 text-gray-800"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href="https://www.instagram.com/petnow_official/"
            title="Instagram Link"
            aria-label="Visit our Instagram Page"
            target="_blank"
            rel="noopener noreferrer"
            class="rounded-full border-3 border-texto p-1 flex items-center justify-center"
          >
            <svg
              class="w-6 h-6 text-gray-800"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
