---
import "../styles/global.css";

import "@fontsource/pretendard/400.css";
import "@fontsource/pretendard/500.css";
import "@fontsource/pretendard/600.css";
import "@fontsource/pretendard/700.css";
import NavBar from "../components/NavBar.jsx";
import Footer from "../components/Footer.astro";
import { getLangFromUrl } from "../i18n/utils";
import ChatButton from "../components/Home/ChatButton";
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Peturnidad - Encuentra Mascotas Perdidas en tu Comunidad</title>
    <meta
      name="description"
      content="Conecta con tu comunidad y reporta mascotas perdidas o encontradas. Únete a Peturnidad y ayuda a reunir familias con sus peludos."
    />
    <meta
      name="keywords"
      content="Mascotas Perdidas, Comunidad, Reporte de Mascotas, Reunión de Mascotas, Peturnidad, Ayuda a Mascotas, Encuentra Mascotas, Reporta Mascotas, Mascotas Encontradas"
    />
    <link rel="canonical" href="https://la-peturnidad.vercel.app/" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Prometheus R&D" />
    <meta name="publisher" content="Prometheus R&D" />

    <meta property="og:url" content="https://la-peturnidad.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Peturnidad - Encuentra Mascotas Perdidas en tu Comunidad"
    />
    <meta
      property="og:description"
      content="Conecta con tu comunidad y reporta mascotas perdidas o encontradas. Únete a Peturnidad y ayuda a reunir familias con sus peludos."
    />
    <meta
      property="og:image"
      content="https://la-peturnidad.vercel.app/logoBig.jpg"
    />
  </head>
  <body class="overflow-x-hidden relative bg-fondo">
    <NavBar lang={lang} client:visible />
    <slot />
    <Footer />
    <ChatButton lang={lang} client:only="react" />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
</style>
