<section>
  <div
    class="bg-gray-300 md:h-screen flex flex-col items-center justify-end relative mt-20"
  >
    <div class="flex flex-col text-white items-center md:pb-16 pb-10 absolute">
      <svg
        class-Name="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="50"
        height="50"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-Linecap="round"
          stroke-Linejoin="round"
          stroke-Width="2"
          d="m19 9-7 7-7-7"></path>
      </svg>
    </div>
    <figure>
      <img
        class="w-screen h-screen object-cover hidden md:block"
        src="https://de23256m8hy18.cloudfront.net/new-homepage/petwayhomeSection1_en.webp"
        alt="Lost Pet About"
      />
    </figure>
    <figure>
      <img
        class="w-screen object-cover max-h-[664px] block md:hidden"
        src="https://de23256m8hy18.cloudfront.net/new-homepage/petwayhomeSection1_mobile_en.webp"
        alt="Lost Pet About"
      />
    </figure>
  </div>
</section>
