---

---

<section class="flex flex-col items-center justify-center pb-16 z-10">
  <div
    class="flex flex-col items-center justify-center gap-2 md:gap-7 mt-26 sm:mt-32 text-center mb-8 text-3xl md:text-4xl lg:text-5xl font-bold max-w-[1232px] mx-auto px-4"
  >
    <h1 class="text-principal">Have you lost your pet?</h1>
    <h2 class="text-texto">AI-Powered Shortcuts to Lost Pet Recovery</h2>
    <p class="text-xl md:text3xl lg:text-4xl text-texto">(Launching in 2024)</p>
  </div>
  <figure class="hidden lg:block">
    <img
      class="w-screen rounded-2xl object-cover h-[664px]"
      src="https://de23256m8hy18.cloudfront.net/new-homepage/petwayhomeSection1.webp"
      alt="Lost Pet About"
    />
  </figure>
  <figure class="lg:hidden block">
    <img
      class="w-screen rounded-2xl object-cover max-h-[664px]"
      src="https://de23256m8hy18.cloudfront.net/new-homepage/petwayhomeSection1_mobile.webp"
      alt="Lost Pet About"
    />
  </figure>
  <div
    class="flex lg:flex-row flex-col items-center justify-center lg:gap-5 xl:gap-16 text-center mb-8 text-5xl font-bold max-w-[1232px] mx-auto px-4 mt-26 sm:mt-32"
  >
    <div class="flex flex-col items-center gap-12 lg:w-[530px]">
      <h1 class="text-5xl text-principal">Click & Report</h1>
      <p class="text-4xl text-texto">
        Just click away from reporting a missing report
      </p>
      <figure class="max-h-[400px]">
        <img
          class="w-full h-full rounded-2xl max-h-[400px]"
          src="https://de23256m8hy18.cloudfront.net/new-homepage/petwayhomeSection2.webp"
          alt="Lost Pet About"
        />
      </figure>
    </div>
    <div class="flex items-center gap-12 relative">
      <figure class="lg:block hidden border-3 border-principal rounded-full">
        <svg class="p-2" width="64px" height="64px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ff592c" stroke-width="0.00024000000000000003"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.768"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z" fill="#ff592c"></path> </g></svg>
      </figure>
      <figure class="lg:hidden block my-8 border-3 border-principal rounded-full">
        <svg class="p-2 rotate-90" width="64px" height="64px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ff592c" stroke-width="0.00024000000000000003"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.768"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z" fill="#ff592c"></path> </g></svg>
      </figure>
    </div>
    <div
      class="text-5xl font-bold flex flex-col items-center gap-12 lg:w-[530px]"
    >
      <h1 class="text-5xl text-principal">Alert Activation</h1>
      <p class="text-4xl text-texto">
        Alert users within a 3-to-6-mile radius based on zip code
      </p>
      <figure>
        <img
          class="w-full h-auto rounded-2xl class= max-h-[400px]"
          src="https://de23256m8hy18.cloudfront.net/new-homepage/petwayhomeSection3.webp"
          alt="Lost Pet About"
        />
      </figure>
    </div>
  </div>
</section>
