---

---

<section class="flex flex-col items-center justify-center pb-16 z-10">
  <div
    class="flex flex-col items-center justify-center gap-2 md:gap-7 mt-26 sm:mt-32 text-center mb-8 text-3xl md:text-4xl lg:text-5xl font-bold max-w-[1232x] mx-auto px-4"
  >
    <h1 class="text-principal">Have you lost your pet?</h1>
    <h2 class="text-texto">AI-Powered Shortcuts to Lost Pet Recovery</h2>
    <p class="text-xl md:text3xl lg:text-4xl text-texto">(Launching in 2024)</p>
  </div>
  <figure class="hidden lg:block">
    <img
      class="w-screen rounded-2xl object-cover h-[664px]"
      src="https://de23256m8hy18.cloudfront.net/new-homepage/petwayhomeSection1.webp"
      alt="Lost Pet About"
    />
  </figure>
  <figure class="lg:hidden block">
    <img
      class="w-screen rounded-2xl object-cover max-h-[664px]"
      src="https://de23256m8hy18.cloudfront.net/new-homepage/petwayhomeSection1_mobile.webp"
      alt="Lost Pet About"
    />
  </figure>
  <div
    class="flex lg:flex-row flex-col items-center justify-center lg:gap-5 xl:gap-16 text-center mb-8 text-5xl font-bold max-w-[1232px] mx-auto px-4 mt-26 sm:mt-32"
  >
    <div class="flex flex-col items-center gap-12 lg:w-[530px]">
      <h1 class="text-5xl text-principal">Click & Report</h1>
      <p class="text-4xl text-texto">
        Just click away from reporting a missing report
      </p>
      <figure class="max-h-[400px]">
        <img
          class="w-full h-full rounded-2xl max-h-[400px]"
          src="https://de23256m8hy18.cloudfront.net/new-homepage/petwayhomeSection2.webp"
          alt="Lost Pet About"
        />
      </figure>
    </div>
    <div class="flex items-center gap-12 relative">
      <figure class="lg:block hidden">
        <img
          class="w-full h-16 rounded-2xl"
          src="arrow.a2230893.svg"
          alt="Lost Pet About"
        />
      </figure>
    </div>
    <div
      class="text-5xl font-bold flex flex-col items-center gap-12 lg:w-[530px]"
    >
      <h1 class="text-5xl text-principal">Alert Activation</h1>
      <p class="text-4xl text-texto">
        Alert users within a 3-to-6-mile radius based on zip code
      </p>
      <figure>
        <img
          class="w-full h-auto rounded-2xl class= max-h-[400px]"
          src="https://de23256m8hy18.cloudfront.net/new-homepage/petwayhomeSection3.webp"
          alt="Lost Pet About"
        />
      </figure>
    </div>
  </div>
</section>
